<body>
    <div class="wrap">

        <!-- Header -->
        <div class="logo my-3" style="background-image: url(/assets/img/AgoraVocePodeHeineken.png)"></div>
        <h2 class="text-center blue my-4">Interação aprovada.</h2>
        <div class="container">
            <!-- <qrcode [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode> -->
        </div>

        <h2 class="text-center blue mb-4">Agradecemos sua participação. <br>Aprecie o sabor da qualidade.</h2>
        <div class="logo my-3" style="background-image: url(/assets/img/Logo_Heineken-Zero.png)"></div>
    </div>

    <!-- Copyright -->
    <div class="copyright">
        Todos os direitos reservados
    </div>
